{% extends 'TSSBehatBuilderBundle:Default:layout.html.twig' %}

{% set buttons %}
    <a class="btn btn-warning hidden-print btn-sm add" href="#">add new feature</a>
    <a class="btn btn-primary hidden-print btn-sm save" href="#">save</a>
{% endset %}

{% block body %}
    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="panel-title">Behat Feature Builder</h3>
                    <small id="status"></small>
                </div>
                <div class="col-md-4">
                    <div class="btn-group pull-right">
                        {{ buttons }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" id="feature-c">
                <ul class="nav">
                    {% for group, features in groups %}
                    <li>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        {{ group }}
                    </li>
                    <li>
                        <ul class="nav">
                            {% for path, filename in features %}
                                <li>
                                    <a href="#{{ path }}">{{ filename }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                <textarea id="editor" style="display: none;"></textarea>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-offset-8 col-md-4">
                    <div class="btn-group pull-right">
                        {{ buttons }}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}